@import 'open-props/style';

.main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
}

.left {
  background-color: var(--gray0);
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
